<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Latest Hacker News Stats</h1>
    <p>Average: <%= @stats.average %>, Median: <%= @stats.median %>, Mode: <%= @stats.mode %></p>
    <ul>
    <% @stats.posts.each do |n| %>
      <li><a href="<%= n.url %>"><%= n.title %> (<%= n.points %>)</a></li>
    <% end %>
    </ul>
    <p>Enjoy!</p>
  </body>
</html>
